# --- Server Configuration ---
# Set to True for local development (HTTP), False for production (HTTPS)
DEBUG=False
PORT=5001
HOST=0.0.0.0

# --- Application Security ---
SECRET_KEY=Paste_any_Secret_Key

# --- Database ---
MONGO_URI=Paste_your_MongoDB_URI

# --- Admin Setup ---
ADMIN_EMAIL=admin123@gmail.com
ADMIN_PASSWORD=admin_password

# --- Google OAuth ---
GOOGLE_CLIENT_ID=Paste_Your_OAuth_CLIENT_ID
GOOGLE_CLIENT_SECRET=Paste_Your_OAuth_CLIENT_SECRET

# --- GitHub Integration ---
GITHUB_TOKEN=Paste_Your_Github_Token
ORG_NAME=Github_ORG_Name