# BHV Environment Variables Example
# Rename this file to .env and set your own values.

# SECRET_KEY: Used for session security. Generate a long random string.
SECRET_KEY=yoursecretkeyhere

# ADMIN_PASSWORD: Initial password for the 'admin' user.
ADMIN_PASSWORD=password123

# DATABASE_URI: Defaults to sqlite:///bhv.db
SQLALCHEMY_DATABASE_URI=sqlite:///bhv.db
