blinker
click
colorama
distlib
filelock
Flask
itsdangerous
Jinja2
MarkupSafe
platformdirs
typing_extensions
virtualenv
Werkzeug
gunicorn
flask
pymongo
python-dotenv
flask-wtf
flask-limiter
flask-talisman
email-validator
uuid6
Authlib
requests
pandas
openpyxl